<div [class]="'small-box ' + (color.includes('bg-') ? color : 'bg-' + color)">
  <div class="inner">
    <h3>{{ count }}</h3>
    <p>{{ title }}</p>
  </div>
  <div class="icon">
    <i [class]="icon"></i>
  </div>
  <ng-container *ngIf="footerUrl else noLinkFooter">
    <a [routerLink]="footerUrl" class="small-box-footer">
      {{ footerText }} <i class="fas fa-arrow-circle-right"></i>
    </a>
  </ng-container>
</div>

<ng-template #noLinkFooter>
  <a href="#" class="small-box-footer">
    &nbsp;
  </a>
</ng-template>
