<footer class="main-footer">
  <strong *ngIf="APP_INFO.NAME"> {{ APP_INFO.NAME }} &copy;</strong>&nbsp;

  <small *ngIf="APP_INFO.VENDOR.NAME">
    <ng-container *ngIf="APP_INFO.VENDOR.URL else onlyVendorName">
      <a [href]="APP_INFO.VENDOR.URL" target="_blank">by {{ APP_INFO.VENDOR.NAME }}</a>
    </ng-container>
  </small>

  <div class="float-right d-none d-sm-inline-block" *ngIf="currentTagVersion">
    <strong>Versi&oacute;n:</strong> {{ currentTagVersion }} ({{ currentHash }})
  </div>
</footer>

<ng-template #onlyVendorName>
  by {{ APP_INFO.VENDOR.NAME }}
</ng-template>
