<app-content-header title="Demo text" [items]="[{title: 'Home', link: '/'}, {title: 'Demo text', link: '/text'}]"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod nec arcu et gravida. Praesent imperdiet
          dictum purus ut rutrum. Quisque convallis ex a massa malesuada vulputate. Nullam lacinia urna vitae tristique
          pellentesque. Duis sed accumsan libero. Cras mollis, elit maximus hendrerit accumsan, turpis orci suscipit enim, ac
          scelerisque mi augue quis nulla. Proin vitae ligula et lorem convallis congue. Sed pretium laoreet dui, eget tristique
          dui iaculis a. Aenean nisl nibh, sodales sit amet nisi at, lobortis bibendum risus.

          Sed et ligula placerat, tincidunt purus sit amet, posuere mi. Quisque pellentesque risus eget lorem aliquam egestas.
          Integer egestas euismod aliquam. Vivamus dignissim magna massa, quis ultricies sem vulputate ac. In quis vehicula
          lectus, eget aliquam lorem. Proin quis sollicitudin ipsum. Aliquam ac nibh pulvinar, tincidunt mauris sit amet,
          ullamcorper sapien. Aenean vel efficitur nulla. Nunc viverra egestas consectetur. Aliquam ornare ut ante id egestas.
          Aliquam id tortor tortor.

          Duis justo magna, aliquam eget luctus sit amet, tincidunt eget arcu. Nunc condimentum luctus massa a consequat.
          Quisque egestas lacinia purus nec suscipit. Proin lacus purus, lobortis a placerat quis, rutrum non diam. Nulla eget
          purus pellentesque, blandit purus ac, venenatis nisi. Maecenas mollis sed lacus sit amet pretium. Fusce vehicula ac mi
          quis lobortis. Vestibulum efficitur congue nisl efficitur gravida.

          Nullam interdum, nunc pretium pretium accumsan, dolor tellus aliquam sem, volutpat dapibus dolor enim nec tellus.
          Etiam tincidunt condimentum iaculis. Nullam tincidunt congue faucibus. Cras dapibus tincidunt ante, iaculis lobortis
          neque scelerisque a. Praesent ac gravida ipsum. Nulla vestibulum metus urna, at gravida mauris placerat in. Duis
          tempor nunc ut ex ornare fermentum vel et risus. Nam eleifend vitae diam sed tincidunt.

          Maecenas convallis quam est, quis molestie ligula dictum non. Mauris interdum sodales elit non facilisis. Suspendisse
          sagittis condimentum purus eget condimentum. Curabitur at leo in turpis consectetur dapibus et at dui. Nam sagittis et
          ipsum eget posuere. Sed semper commodo ligula sit amet ornare. Fusce augue libero, volutpat id felis at, vestibulum
          suscipit mauris. Vivamus ut tempus sapien, pretium blandit orci. Fusce convallis sollicitudin fermentum. Sed at
          facilisis diam. Duis semper non tellus non tincidunt. Morbi a eros eros. Ut viverra laoreet lobortis. Ut lobortis
          turpis sit amet ipsum vehicula elementum.

          Curabitur rhoncus aliquet ex, sed congue arcu varius et. Phasellus iaculis posuere massa, non gravida justo congue id.
          Sed rutrum auctor dolor, in pretium nisl lacinia quis. Duis accumsan nec lectus non condimentum. Nam malesuada laoreet
          tristique. Integer eu dui vel erat consequat rhoncus sit amet accumsan enim. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas. Sed pretium est at elit gravida malesuada. Suspendisse
          tristique pellentesque sem at suscipit. Sed vulputate neque et nulla fermentum mollis. Orci varius natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus.

          Etiam vitae ex quis est suscipit volutpat. Aliquam laoreet eros nisi, semper porta nulla interdum eu. Donec laoreet
          rhoncus accumsan. Praesent sem elit, sollicitudin a urna nec, ultrices euismod eros. Mauris ultrices diam ac porttitor
          tincidunt. Sed ultricies vestibulum aliquam. Curabitur feugiat dignissim justo. Suspendisse potenti. Pellentesque vel
          enim blandit mi posuere dignissim sed non eros. Nulla ultrices dignissim lacus vitae euismod. Cras tempor, erat
          posuere aliquet faucibus, risus lectus blandit eros, sed imperdiet magna lectus at turpis. Curabitur vel mauris
          facilisis, luctus metus et, pulvinar nunc.

          Phasellus vulputate, diam euismod tincidunt sollicitudin, odio orci vehicula est, a vestibulum elit nisi tincidunt
          libero. Nulla eros ipsum, accumsan non orci id, finibus volutpat sem. Phasellus ut faucibus velit. Sed eu sapien
          eleifend nunc tempor viverra. Pellentesque sem neque, tempor pulvinar urna pretium, rhoncus consectetur dolor. Ut id
          ligula arcu. Curabitur eu mollis libero. Nullam eu imperdiet velit, sit amet ornare metus. Nunc volutpat mauris
          egestas dignissim imperdiet.

          Quisque lectus velit, sodales nec tempor vitae, convallis quis dui. Nulla iaculis at erat in viverra. Quisque interdum
          sed mi eget tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis luctus sem. Aenean
          vestibulum nisi eget lacinia finibus. Morbi et vulputate lacus. Vestibulum sed urna vitae est finibus vulputate et at
          ante. Curabitur in mi vel dui fringilla malesuada eu at neque. In sit amet turpis eget massa semper tempor et vitae
          massa. Nullam eget porta libero, quis mattis mi. Donec interdum eros at lacus iaculis, ut molestie erat porta. Sed ac
          elit et libero lacinia bibendum. Fusce consequat viverra tellus, eu malesuada lectus blandit venenatis.

          Integer ultrices facilisis ullamcorper. Cras egestas fringilla nulla ac commodo. Duis congue ac velit non imperdiet.
          Donec laoreet mattis leo, pulvinar convallis ligula pharetra ac. Vivamus a aliquam nunc. Curabitur blandit mauris vel
          dui facilisis, in fringilla quam finibus. Duis a nunc turpis. Integer rhoncus semper metus sit amet egestas. Nam felis
          justo, eleifend eu libero id, egestas ornare mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Donec bibendum leo eu ullamcorper congue. Duis scelerisque est ut tortor rutrum, luctus
          egestas diam ultrices. Quisque a magna consectetur, rutrum dolor sit amet, tempus felis. Nam consequat lacus metus,
          non imperdiet felis congue at. Praesent in purus auctor, congue enim non, ullamcorper leo.
        </p>
      </div>
    </div>
  </div>
</section>
