<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link navbar-primary">
    <span class="logo-mini">
      <img src="#" alt="Home" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <!-- <strong style="text-transform: uppercase;">@Messages.get("app.name.initial")</strong> -->
    </span>
    <span class="brand-text font-weight-light">AngularTemplate</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <!-- PRIMER IF -->
        <li class="nav-item" id="menu_@itemMenu.getIdFather">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          </a>
        </li>

        <!-- SEGUNDO IF -->
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-lock"></i>
            <p>
              Seguridad
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
              <li id="menu_@itemChildren.getIdChildren nav-item">
                <a href="#" class="nav-link">
                  <i class="fa @itemChildren.getIcon nav-icon"></i>
                  <p>Administración de usuarios</p>
                </a>
              </li>
          </ul>
        </li>

        <!-- @for(itemMenu <- Application.getMenuSession()) {
          @if(itemMenu.getVisibilityFather==utils.Parameters.VISIBILITY_PERMISSION_ON){
            @if(itemMenu.getChildrenList==null || itemMenu.getChildrenList.size==0){
              <li class="nav-item" id="menu_@itemMenu.getIdFather">
                <a href=@itemMenu.getFatherUrl class="nav-link">
                  <i class="nav-icon fas @itemMenu.getIconFather"></i>
                  <p>
                    @itemMenu.getFatherName
                    @*<span class="right badge badge-danger">New</span>*@
                  </p>
                </a>
              </li>
            }else{
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas @itemMenu.getIconFather"></i>
                  <p>
                    @itemMenu.getFatherName
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>

                <ul class="nav nav-treeview">
                  @for(itemChildren <- itemMenu.getChildrenList ) {
                    @if(itemChildren.getChildrenVisibility==utils.Parameters.VISIBILITY_PERMISSION_ON) {
                      <li id="menu_@itemChildren.getIdChildren nav-item">
                        <a href="@itemChildren.getChildrenUrl" class="nav-link">
                          <i class="fa @itemChildren.getIcon nav-icon"></i>
                          <p>@itemChildren.getChildrenName</p>
                        </a>
                      </li>
                    }
                  }
                </ul>
              </li>
            }
          }
        } -->
      </ul>
    </nav>
  </div>
</aside>
